.countButtonProperty
{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

left: 30.56%;
right: 30.56%;
top: 5.56%;
bottom: 5.56%;
padding: 5px;
color: #FFFFFF;
}